<html layout:decorator="${@environment.getProperty('template.admin.name.base')}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<span layout:fragment="title" th:remove="tag">Content Management</span>

<h1 layout:fragment="main-title">Content Management</h1>

<div layout:fragment="main-content">
<div class="row-fluid">
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title"> <span class="icon"> <i class="icon-align-justify"></i> </span>
          <h5>New Content</h5>
        </div>
        <div class="widget-content nopadding">
          <form  class="form-horizontal" enctype="multipart/form-data"  method="POST" th:action="@{/contact/store}" th:object="${entityForm}" >
            
            <div class="control-group">
              <label class="control-label">First name :</label>
              <div class="controls">
              	<input class="span11" th:field="*{fname}" type="text" />
              	<p class="field-error" th:errors="*{fname}" th:if="${#fields.hasErrors('fname')}"></p>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Last name :</label>
              <div class="controls">
              	<input class="span11" th:field="*{lname}" type="text" />
              	<p class="field-error" th:errors="*{lname}" th:if="${#fields.hasErrors('lname')}"></p>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Father name :</label>
              <div class="controls">
              	<input class="span11" th:field="*{fatherName}" type="text" />
              	<p class="field-error" th:errors="*{fatherName}" th:if="${#fields.hasErrors('fatherName')}"></p>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Gender</label>
              <div class="controls">
                <label>
                  <input name="gender" type="radio" value="1"/>
                  male</label>
                <label>
                  <input name="gender" type="radio" value="2"/>
                  female</label>
                <p class="field-error" th:errors="*{gender}" th:if="${#fields.hasErrors('gender')}"></p>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">Province</label>
              <div class="controls">
                <select th:field="*{province}">
                	<option value="">choose province</option>
                  <option th:each="province : ${provinces}" th:text="${province.name}" th:value="${{province}}">First option</option>
                </select>
              </div>
            </div>
            
            <div class="control-group">
              <label class="control-label">City</label>
              <div class="controls">
                <select th:field="*{city}">
                </select>
              </div>
            </div>
            
            <input th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"
           type="hidden" />
            <div class="form-actions">
              <button class="btn btn-success" th:text="#{text.general.Create}" type="submit"></button>
              <a class="btn btn-info" th:href="@{/contact/index}" th:text="#{text.general.backToList}"></a>
            </div>
          </form>
        </div>
      </div>
      </div>
      </div>
</div>
</html>
