<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title><span layout:fragment="title">title</span></title>

  <meta charset="UTF-8"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/bootstrap.min.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/bootstrap-responsive.min.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/colorpicker.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/datepicker.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/uniform.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/select2.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/matrix-style.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/matrix-media.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/css/bootstrap-wysihtml5.css}"/>
  <link rel="stylesheet" th:href="@{/admin/matrix-admin/font-awesome/css/font-awesome.css}"/>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'/>
</head>
<body>

<!--Header-part-->
<div id="header">
  <h1><a href="dashboard.html">Matrix Admin</a></h1>
</div>
<!--close-Header-part-->

<!--top-Header-menu-->
<div class="navbar navbar-inverse" id="user-nav">
  <ul class="nav">
    <li class="dropdown" id="profile-messages"><a class="dropdown-toggle" data-target="#profile-messages"
                                                  data-toggle="dropdown" href="#" title=""><i
            class="icon icon-user"></i> <span class="text">Welcome User</span><b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-user"></i> My Profile</a></li>
        <li class="divider"></li>
        <li><a th:href="@{/logout}"><i class="icon-key"></i> Log Out</a></li>
      </ul>
    </li>
    <li class=""><a th:href="@{/logout}" title=""><i class="icon icon-share-alt"></i> <span
            class="text">Logout</span></a></li>
  </ul>
</div>

<!--start-top-serch-->
<div id="search">
  <input placeholder="Search here..." type="text"/>
  <button class="tip-bottom" title="Search" type="submit"><i class="icon-search icon-white"></i></button>
</div>
<!--close-top-serch-->

<!--sidebar-menu-->

<div id="sidebar"><a class="visible-phone" href="#"><i class="icon icon-list"></i>Forms</a>
  <ul>
    <li><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
    <li><a th:href="@{/admin/category/index}"><i class="icon icon-list"></i> <span th:text="#{text.module.Category}">Category</span></a>
    </li>
    <li><a th:href="@{/admin/content/index}"><i class="icon icon-list"></i> <span
            th:text="#{text.module.Content}"></span></a></li>
    <li><a th:href="@{/admin/menu/index}"><i class="icon icon-list"></i> <span th:text="#{text.module.Menu}"></span></a>
    </li>
    <li><a th:href="@{/admin/slider/index}"><i class="icon icon-list"></i> <span
            th:text="#{text.module.Slideshow}"></span></a></li>


  </ul>
</div>

<!--close-left-menu-stats-sidebar-->

<div id="content">
  <div id="content-header">
    <div id="breadcrumb"><a class="tip-bottom" href="index.html" title="Go to Home"><i class="icon-home"></i> Home</a>
    </div>
    <h1 layout:fragment="main-title">Common Form Elements</h1>
  </div>
  <div class="container-fluid">
    <hr/>
    <div layout:fragment="main-content"></div>
  </div>
</div>
<!--Footer-part-->
<div class="row-fluid">
  <div class="span12" id="footer"> 2017 &copy; Free CMS by <a href="http://mohsenjahanshahi.ir">Mohsen Jahanshahi</a>
  </div>
</div>
<!--end-Footer-part-->
<script th:src="@{/admin/matrix-admin/js/jquery.min.js}"></script>
<script th:src="@{/admin/matrix-admin/js/jquery.ui.custom.js}"></script>
<script th:src="@{/admin/matrix-admin/js/bootstrap.min.js}"></script>
<script th:src="@{/admin/matrix-admin/js/bootstrap-colorpicker.js}"></script>
<script th:src="@{/admin/matrix-admin/js/bootstrap-datepicker.js}"></script>
<script th:src="@{/admin/matrix-admin/js/jquery.toggle.buttons.js}"></script>
<script th:src="@{/admin/matrix-admin/js/masked.js}"></script>
<script th:src="@{/admin/matrix-admin/js/jquery.uniform.js}"></script>
<script th:src="@{/admin/matrix-admin/js/select2.min.js}"></script>
<script th:src="@{/admin/matrix-admin/js/matrix.js}"></script>
<script th:src="@{/admin/matrix-admin/js/matrix.form_common.js}"></script>
<script th:src="@{/admin/matrix-admin/js/wysihtml5-0.3.0.js}"></script>
<script th:src="@{/admin/matrix-admin/js/jquery.peity.min.js}"></script>
<script th:src="@{/admin/matrix-admin/js/bootstrap-wysihtml5.js}"></script>
<script>
  $('.textarea_editor').wysihtml5();
</script>
<div layout:fragment="bottom-fragment"></div>
</body>
</html>
